
* {
	background-color: rgb(255, 226, 213);
	font-family: fantasy;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row-reverse;
}
h1 {
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	border-left: 1px solid pink;
	border-top: 1px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #AA5C39;
	margin-top: 40px;
	padding-top: 5px;
}

img	{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: 1s;
}

img:hover {
	transform: scale(1.1);
}

nav {
	background-color: rgba(170, 92, 57, 0.7);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: rgb(255, 196, 170);
	background-color: rgba(170, 92, 57, 0.3);
	padding: 20px;
	padding-bottom: 16px;	
    margin-top: 15px;
    margin: 10px;
    font-size: 110%;

}

nav a:hover {
	transform: scale(1.1);
	color: rgba(170, 92, 57, 0.8);
	background-color: rgb(255, 226, 213);
	transition: 0.2s;
	font-size: 120%;
}

nav img {
	width: 70px;
	height: 70px;
	margin-top: 10px;
	transition: 0s;
	border-radius: 4px;
}